body {
  background-color: #151933;
  color: #a3acde;
  font-size: 18px;
}

#app-demo {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 15px;
}

#demo-text {
  float: right;
  margin-left: 8vw;
}

#promo-text {
  font-family: Helvetica;
  font-size: 47px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 51.7px;
  color: white;
}

#promo-description {
  font-size: 22px;
  padding-bottom: 2.5vh;
}